<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630232633313-ccpd2dccg14av96lkt6gf2aj4artdcda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630232633313-ccpd2dccg14av96lkt6gf2aj4artdcda</string>
	<key>API_KEY</key>
	<string>AIzaSyDbvooe2W1_JXgUW0P6SWc_xHdDkdOivZE</string>
	<key>GCM_SENDER_ID</key>
	<string>630232633313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallpapers</string>
	<key>PROJECT_ID</key>
	<string>wallpapers-7cc40</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpapers-7cc40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630232633313:ios:5150f91881fe3640ff0ca0</string>
</dict>
</plist>